h1
{
    font-family: "Arial Black";
}
p
{
    color: goldenrod;
}

h1
{
    border: 6px blue solid
}

p
{   
    text-align: center;
}

p
{
    font-size: x-large;
}

h2
{
    font-size: xx-large;
}



    